.go-back-to-index {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  position: relative;
  left: -7vw;
  margin-top: 13vh;
}
.go-back-to-index a {
  align-items: center;
  text-transform: uppercase;
  align-content: center;
  color: black;
  font-size: 1.3rem;
  font-weight: 700;
  text-decoration: none;
}
.go-back-to-index img {
  margin-right: 0.7vw;
}

#dino-facts-content {
  display: flex;
  flex-direction: row-reverse;
  text-align: left;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
}

.dino-fact-image {
  mix-blend-mode: multiply;
  width: 100%;
  position: relative;
  top: 5.5vh;
}
.dino-facts-right-side {
  width: 50%;
  margin-left: 10vw;
}

.dino-facts-left-side {
  width: 50%;
}

.dino-facts-header h1 {
  line-height: 8.5vh;
  margin: 0;
  padding: 0;
}

.dino-facts-length-period {
  margin-top: 3vh;
  text-transform: uppercase;
  font-size: 1.3rem;
  line-height: 4vh;
  margin-bottom: 5vh;
}
.dino-facts-length-period-bold {
  font-weight: 700;
}

.dino-facts-diet {
  position: absolute;
  margin-top: 5vh;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: 1px;
  color: white;
  background-color: #2a4837;
  border-radius: 7px;
  padding: 0.3vh 1.5vw 0.5vh 1.5vw;
  height: auto;
}
.dino-facts-diet-bold {
  font-weight: 700;
}

.dino-time-periods-image {
  width: 100%;
  position: relative;
}
