#alphabet-container {
  position: relative;
  left: 3vw;
  top: 3vh;
}

.letter-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.5rem;

  padding: 1rem;
}
.letter-group {
  padding: 0.4rem;
  display: flex;
  flex-direction: column;
  min-width: 200px;
  min-height: 200px;
}

.big-letter {
  margin: 0;
  padding: 0;
  font-size: 3.3rem;
}

.dino-card {
  position: relative;
  padding: 1rem;
  font-size: 1.12rem;
  font-weight: 700;
  top: -0.5vh;
  left: 0.5vw;
}

.dino-title {
  margin: 0;
  padding: 0;
  line-height: 0px;
}
