#not-found-page-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.not-found-icon {
  position: relative;
  width: 70px;
  left: 1vw;
}
