.did-you-know-card-container {
  background-color: #506450;
  width: 100%;
  height: auto;
  border-radius: 11px;
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.did-you-know-card-info {
  text-align: left;
  width: 30%;

  padding: 2vh;
  color: white;
}

.did-you-know-card-read-more {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0.5vw 2vh;
}
