#dino-index-content {
  margin-top: 10vh;
  position: relative;
}

.dino-index-title {
  font-family: "Texturina", serif;
  font-weight: 700;
  font-size: clamp(2.5rem, 2.5vw, 3rem);
}

.index-left-side-content {
  position: relative;
  text-align: left;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.index-right-side-content {
  top: 40vh;
  width: clamp(300px, 26vw, 500px);
  right: 10vw;
  text-align: center;
}
.index-right-side-content.fixed {
  position: fixed;
}

.index-right-side-content.absolute {
  position: fixed;
  bottom: 100px;
}

.dino-time-periods-image {
  width: 100%;
  position: relative;
}

@media screen and (max-width: 900px) {
  .index-right-side-content {
    top: 10vh;
    width: 100%;
    position: absolute;
    margin: 0;
    right: 0px;
    padding: 5vh;
  }
  .index-left-side-content {
    position: relative;
    margin-top: 46vh;
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
@media screen and (max-width: 520px) {
  .index-right-side-content {
    top: 8vh;
    width: 100%;
    position: absolute;
    margin: 0;
    right: 0px;
    padding: 5vh;
    margin-bottom: 2vh;
  }
  .index-left-side-content {
    position: relative;
    margin-top: 42vh;
    text-align: left;
    left: 3vw;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
@media screen and (max-width: 420px) {
  .index-right-side-content {
    top: 8vh;
    width: 100%;
    position: absolute;
    margin: 0;
    right: 0px;
    padding: 5vh;
    margin-bottom: 2vh;
  }
  .index-left-side-content {
    position: relative;
    margin-top: 45vh;
    left: 5vw;
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
@media screen and (max-width: 340px) {
  .index-right-side-content {
    top: 8vh;
    width: 100%;
    position: absolute;
    margin: 0;
    right: 0px;
    padding: 5vh;
    margin-bottom: 2vh;
  }
  .index-left-side-content {
    position: relative;
    margin-top: 43vh;
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
@media screen and (max-width: 330px) {
  .index-right-side-content {
    top: 15vh;
    width: 100%;
    position: absolute;
    margin: 0;
    right: 0px;
    padding: 5vh;
    margin-bottom: 2vh;
  }
  .index-left-side-content {
    position: relative;
    margin-top: 65vh;
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
