#dino-index-content {
  position: relative;
  margin-top: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.index-left-side-content {
  position: relative;
  left: -8vw;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.index-right-side-content {
  position: fixed;
  right: 10vw;
  top: 40vh;
}
