#navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #283029;
  padding: 0vh 2.2vw;
  border-radius: 0;
}

#navbar-logo {
  position: relative;
  left: 0;
  display: flex;
  justify-content: flex-start;
}

#navbar-right-side {
  position: relative;
  right: 0;
  display: flex;
  justify-content: flex-start;
  gap: 1.4vw;
}
#navbar a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  padding: 1vh 1.5vh;
  border-radius: 2px;
}

#navbar-right-side a:hover:not(.active-link) {
  color: #e8e8e8;
  background-color: #9c9c9c1d;
}
.active-link .navbar-search-icon {
  fill: black;
  stroke: black;
}

#navbar .active-link {
  color: #000000;
  background-color: #cecece;
}

/* LOGO CSS Madelen */
.logo-img {
  height: 40px;
  width: auto;
  object-fit: contain;
  position: relative;
  left: -0.5vw;
  filter: invert(100%);
}

.navbar-search-content {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 0.4vw;
}

.navbar-search-icon {
  position: relative;
  top: -1px;
}

#navbar-dino-game {
  background-color: rgb(88, 104, 92);
  filter: drop-shadow(0.1vh 0.2vh 0.4vh rgba(0, 0, 0, 0.224));
}

#hamburger-menu {
  display: none;
}

#navbar-right-side {
  display: none;
  flex-direction: column;
}

#hamburger-menu,
#hamburger-menu-close-icon {
  display: none;
}

/**  Responsive design **/
@media screen and (max-width: 900px) {
  #hamburger-menu {
    z-index: 10000;
    display: block;
    position: absolute;
    right: 3vw;
    top: 0;
    height: 100%;
    width: 10%;
    cursor: pointer;
  }
  #hamburger-menu-close-icon {
    z-index: 10000;
    display: block;
    position: absolute;
    right: 3.3vw;
    top: 6px;
    height: 80%;
    width: 8%;
    cursor: pointer;
  }

  #navbar-right-side {
    overflow: hidden;
    background-color: #262927e7;
    position: relative;
    width: 100%;
    gap: 5vw;
    margin: auto;
    display: none;
  }
  #navbar-right-side {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: clamp(1.2rem, 2vw, 1.4rem);
    display: block;
    margin: auto;
  }

  #navbar-right-side {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    text-align: center;
    right: 0;
    top: 0;
    margin: auto;
  }
}

@media (min-width: 900px) {
  #navbar-right-side {
    display: flex !important;
    flex-direction: row;
  }
}
