#navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #283029;
  padding: 0vh 2.2vw;
  border-radius: 0;
}

#navbar-logo {
  position: relative;
  left: 0;
  display: flex;
  justify-content: flex-start;
}

#navbar-right-side {
  position: relative;
  right: 0;
  display: flex;
  justify-content: flex-start;
  gap: 1.4vw;
}
#navbar a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  padding: 1vh 1.5vh;
  border-radius: 2px;
}

#navbar-right-side a:hover:not(.active-link) {
  color: #e8e8e8;
  background-color: #9c9c9c1d;
}
.active-link .navbar-search-icon {
  fill: black;
  stroke: black;
}

#navbar .active-link {
  color: #000000;
  background-color: #cecece;
}

/* LOGO CSS Madelen */
.logo-img {
  height: 40px;
  width: auto;
  object-fit: contain;
  position: relative;
  left: -0.5vw;
  filter: invert(100%);
}

.navbar-search-content {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 0.4vw;
}

.navbar-search-icon {
  position: relative;
  top: -1px;
}

#navbar-dino-game {
  background-color: rgb(88, 104, 92);
  filter: drop-shadow(0.1vh 0.2vh 0.4vh rgba(0, 0, 0, 0.224));
}
