#navbar {
  z-index: 1000;
  width: 80%;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--beige);
  padding: 1.5vh 2.5vw;
  border-radius: 7px;
}

#navbar-logo {
  position: relative;
  left: 0;
  display: flex;
  justify-content: flex-start;
}

#navbar-right-side {
  position: relative;
  right: 0;
  display: flex;
  justify-content: flex-start;
  gap: 2.5vw;
}
#navbar a {
  color: var(--black);
  text-decoration: none;
  font-weight: 600;
}

#navbar-right-side a:hover:not(.active-link) {
  color: #6b3838;
}

#navbar .active-link {
  color: #984e4e;
}

/* LOGO CSS Madelen */
.logo-img {
  height: 40px;
  width: auto;
  object-fit: contain;
}
