.featured-dinos-list {
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.featured-dinos-list ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2vw;
  font-weight: 700;
  text-transform: uppercase;
}
.featured-dinos-list li:first-child {
  list-style: none;
}

.feature-dino-image {
  z-index: 1;
  position: absolute;
  top: 58%;
  left: 56%;
  transform: translate(-50%, -50%);
  width: 53%;
}

.feature-dino-image-bg {
  z-index: -1;
  position: absolute;
  top: 46%;
  left: 65%;
  transform: translate(-50%, -50%);
  width: 22%;
}

.feature-dino-discovery-container {
  position: absolute;
  right: 7vw;
  top: 27vh;
}
.featured-dino-discovery-text {
  text-transform: uppercase;
  font-weight: 500;
  display: flex;
  font-size: 1.1rem;
  flex-direction: column;
}
.featured-dino-discovery-year {
  margin-top: 1.3vh;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 3.8rem;
  letter-spacing: -1px;
  background-color: #232f23;
  border-radius: 5px;
  color: white;
  padding: 0.2vw 1.8vh;
  line-height: 1;
  height: auto;
}

.featured-dino-name-and-type {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  bottom: 0;
  left: 3vw;
  margin: 0;
  padding: 0;
}

.featured-dino-name {
  text-align: left;
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 7vh;
  text-transform: uppercase;
  margin-bottom: 3vh;
}

.featured-dino-name-big-bold {
  display: block;
  font-size: 5rem;
  font-weight: 700;
}

.featured-dino-type {
  margin-left: 0;
  position: relative;
  top: -5.5vh;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: right;
  width: fit-content;
}

.feature-dino-type-border {
  margin-right: 1.2vh;
  background-color: var(--black);
  border-radius: 3px;
  color: white;
  font-weight: 400;
  letter-spacing: 3.2px;
  padding: 0.1vw 0.55vw;
  text-align: center;
}

.feature-dino-information {
  position: absolute;
  right: 3vw;
  bottom: 7vh;
  width: 15%;
  text-align: left;
  font-weight: 400;
}
.feature-dino-information-header {
  text-transform: uppercase;
  font-size: 1.7rem;
  line-height: 1.5;
  height: auto;
}

.featured-dino-bottom-line {
  width: 95vw;
  background-color: black;
  height: 2px;
  position: absolute;
  left: 2.5vw;
  bottom: 4vh;
  margin: 0 auto;
}
