.search-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}

.search-controls {
  position: relative;
  top: 5vh;
}

.search-results {
  height: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  top: -35vh;
}
