.search-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}

.search-controls {
  display: flex;      
  gap: 1rem;          
  align-items: center;
  position: relative;
  top: 5vh;
}


.search-input {
  padding: 1rem 1.5rem; /* bigger size */
  border: 2px solid #024204;
  border-radius: 20px; /* rounded corners */
  font-size: 1.1rem;
  width: 300px; /* make it a bit wider */
  transition: border-color 0.3s ease;
}

.search-button {
    padding: 0.6rem 1rem;
    border-radius: 10px;
    cursor: pointer;
    background-color: #024204;
    border: none;
    color: white;
    font-size: 1.1rem;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}


.search-results {
  height: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  top: -35vh;
} 
