#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.DYK ul {
  list-style-type: '🦖 ';
  padding-left: 24px;
  text-align: left;
  display: inline-block;
}

.DYK li {
  margin: 10px 0;
  line-height: 1.5;
}