.blog-container {
  position: relative;
  margin: auto;
  text-align: center;
  margin-top: 15vh;
  width: 100%;
  height: 100%;
}

.blog-header {
  margin-bottom: 10vh;
}

.blog-post-title {
  font-size: clamp(2.4rem, 2.5vw, 2.8rem);
  font-weight: 800;
  width: 50%;
  margin: auto;
  line-height: 7vh;
}

.blog-post-author {
  margin-top: 2vh;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  margin-bottom: 2vh;
}

.blog-post-profile-pic {
  border-radius: 10000px;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.blog-post-category {
  background-color: rgb(65, 71, 123);
  color: white;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 0.3vh 1vh;
  border-radius: 5px;
}

.blog-post-text {
  width: 100%;
  margin: auto;
  margin-top: 12vh;
  line-height: 26px;
}

.blog-post-text h3 {
  margin-top: 6vh;
  margin-bottom: 2.5vh;
  text-align: left;
  font-size: clamp(1.3rem, 1.4vw, 1.6rem);
}

.blog-post-comments {
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.blog-post-card {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4vh;
  border-radius: 7px;
  width: 100%;
  filter: drop-shadow(0.2vh 0.6vh 0.6vh rgba(0, 0, 0, 0.1));
}
.blog-card-title {
  margin-top: 1vh;
  margin-bottom: 2vh;
}

.blog-card-category {
  background-color: rgb(65, 71, 123);
  color: white;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-size: clamp(0.9rem, 2vw, 1rem);
  font-weight: 600;
  padding: 0.5vh 1vh;
  border-radius: 5px;
}

.blog-card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2vw;
}

.blog-card-list {
  width: 100%;
  display: flex;
}

.blog-card-list a {
  color: black;
  text-decoration: none;
}
