.mySwiper {
  width: 100%;
  height: 60vh;
  margin: 0;
  border-radius: 11px;
  margin-bottom: 5vh;
  color: white;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #4a5d4a;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

.swiper-button-next,
.swiper-button-prev {
  color: white;
}

.swiper-pagination-bullet {
  background: white;
}

.swiper-wrapper {
  transition: 1s;
}

.slide-3 {
  background-image: url("../../assets/featured-dinos-slide.jpg");
  background-size: cover;
}

.slide-featured-dinos-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  position: absolute;
  left: 10vw;
}
.slide-featured-dinos-container h2 {
  font-size: 3rem;
}
.slide-featured-dinos-container p {
  line-height: 4vh;
  font-size: 1.2rem;
}
.slide-featured-dinos-container button {
  position: relative;

  top: 2vh;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: none;
  border: none;
  background-color: white;
  padding: 1.4vh 1.2vw;
  font-size: 1.3rem;
  font-weight: 500;
  border-radius: 5px;
  text-decoration: none;
}
.slide-featured-dinos-container button:hover {
  cursor: pointer;
}
.slide-featured-dinos-container a {
  text-decoration: none;
}

/* Time Period slide */
.slide-time-periods {
  background-image: url("../../assets/jurassic-time-period-slide.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slide-time-periods-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  position: absolute;
  left: 10vw;
}

/* .text-background-time-periods {
  background-color: rgba(0, 0, 0, 0.432); 
  padding: 2vh 2vw;
  border-radius: 10px;
  max-width: 80%;
} */

.slide-time-periods-container h2 {
  font-size: 3rem;
  color: white;
}

.slide-time-periods-container p {
  line-height: 4vh;
  font-size: 1.2rem;
  color: white;
}

.slide-time-periods-container button {
  position: relative;
  top: 2vh;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: none;
  border: none;
  background-color: white;
  padding: 1.4vh 1.2vw;
  font-size: 1.3rem;
  font-weight: 500;
  border-radius: 5px;
  text-decoration: none;
}

.slide-time-periods-container button:hover {
  cursor: pointer;
}

.slide-time-periods-container a {
  text-decoration: none;
}