.mySwiper {
  width: 100%;
  height: 60vh;
  margin: 0;
  border-radius: 11px;
  margin-bottom: 5vh;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #4a5d4a;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}
